/*
My Program-O Version 2.0.9
Program-O  chatbot admin area
Written by Elizabeth Perreau and Dave Morton
Aug 2011
for more information and support please visit www.program-o.com
*/
html, body  {
	height: 100%;
}
body {
  background-color: #9FC03A;
  /*background-color: white;*/
  background-image: url(../admin/images/CompRule.png);
  background-repeat: repeat;
  background-image: url(../admin/images/repeated_header2.jpg);
  background-repeat: repeat-x;
  color: #000000;
  margin: 0;
  padding: 0;
  width: 99.5%;
  height: 99.5%;
  overflow: hidden;
}
div.row { clear: both; padding-top: 8px; border: none; width: 95%; margin-left: auto; margin-right: auto; }
div.row span.label {float: left; width: 49.5%; text-align: left; padding-left: 3px; background-color: #DDFFFF; border: 1px outset #999; padding-top: 3px; padding-bottom: 3px;}
div.row span.label:hover, div.row span.formw:hover {background-color: #EEE;}
.center { text-align: center; }
.bold { font-weight: bold; }
.underline {border: 2px outset #666;border-top: 1px outset #666; border-left: 1px outset #666;}
.big { font-size: larger; }
.ul, .ll, .ur, .lr {
  width: 6px;
  height: 6px;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  z-index: 1;
}
.ul { top: 0; left: 0; background-image: url(../admin/images/ul.png); }
.ll { bottom: 0; left: 0; background-image: url(../admin/images/ll.png); }
.ur { top: 0; right: 0; background-image: url(../admin/images/ur.png); }
.lr { bottom: 0; right: 0; background-image: url(../admin/images/lr.png); }
#title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  position: absolute;
  top: 125px;
  left: 25px;
  right: 25px;
  /*width: 94%;*/
  height: 30px;
  z-index: 100;
  background-color: transparent;
  background-image: url(../admin/images/bg_list.gif);
  background-position: bottom;
  background-repeat: repeat-x;
  margin: 0;
  padding: 0px;
}
#titlespan {
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  color: white;
  z-index: 50;
  width: 100%;
}
#logo {
  background-image: url(../admin/images/bg_header2.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  /*background-color: white;*/
  width: 100%;
  height: 140px;
  border: none;
  margin: 0;
  padding: 0;
  float: none;
}
#container{
  margin: 0 auto;
  padding: 1em;
  text-align: left;
  background-color: white;
  overflow: auto;
  position: absolute;
  top: 160px;
  left: 25px;
  right: 25px;
  bottom: 25px;
}
